/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
   See /stylesheets/README.txt for an explanation of
   any CSS browser detection hacks used in this file
   >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* the "befores" */

.button-text, .example-before, .problem-before, .solution-before, 
.definition-before, .footnote-reference, .footnote-reference a, 
.footnote-number, .meaning-number, .equation-number, .view-math, 
.view-math a, .rule-before, .proof-before, .note-before, .glossary, 
.references, .seealso-before, .problemset-before, .item-before{
font-size: .8em;
color: #369;
text-transform: uppercase;
font-weight: bold;
}

.name, .example-name, .rule-name{
font-weight: bold;
}

/* ======== SECTION ======== */

h2 {
color: #369;
margin: .5em 0 0;
padding: 0 0 3px;
border: 0 solid #369;
border-bottom-width: 2px;
border-right-width: 2px;
font-weight: bold;
font-size: 1.45em;
letter-spacing: -1px;
}

.section{
margin: 2em 0;
}

.section .section{
margin: 20px 0 20px 36px;
}

.section .section h2{
color: #369;
border: 0 solid #369;
border-left-width: 2px;
border-bottom-width: 2px;
font-size: 1em;
padding: 0 0 3px 5px;
letter-spacing: 0;
}

.example .section h2, .proof .section h2, .problem .section h2, .solution .section h2, .statement .section h2{ 
font-weight: normal; 
border: 0 solid #369;
border-bottom-width: 1px;
padding: 0 0 3px 0;
font-size: 1em;
}

.example .section, .problem .section, .solution .section, .statement .section, .proof .section{
margin-top: 10px;
margin-bottom: 30px;
margin-left: 36px;
}

/* ======== LIST & ITEM ========= */

#cnx_main ol, #cnx_main ul{
display: block;
margin: 0;
padding: 5px 0;
}

#cnx_main li{
list-style: disc outside;
margin: 3px 0;
margin-left: 32px;
padding: 2px;
}

li.toc{
list-style-type: none;
margin: 0 0 0 32px;
padding: 0;
}

#cnx_main ol li{
list-style-type: decimal;
}

#cnx_main li li{
margin-left: 18px;
}

#cnx_main ol ul li{
list-style-type: disc;
}

#cnx_main .name + li{
margin-top: 5px;
}

table.list{
margin: 10px 0;
}

table.list td{
vertical-align: top;
}

li .name, table.list tr td.name, .bullet{
font-weight: bold;
/*
white-space: nowrap;
*/
padding: 3px 5px 3px 0;
}

.para span.list .name{
display: inline;
}

/* ======== PARA ========= */

.para{
display: block;
margin-top: 6px;
margin-bottom: 18px;
line-height: 1.4em;
}

.para + .para{
margin-top: 15px;
}

.para .name{
display: block;
margin-bottom: 5px;
}

.para * .name{
display: inline;
}

/* ======== DIFF HIGHLIGHTING ======== */
ins{
color: #060;
}

del{
color: #C00;
}

/* ======== CODEBLOCK & CODELINE ======== */

pre, code{
font-family: courier, courier new, monospace;
font-size: .9em;
color: #060;
font-style: normal;
}

code{
display: inline;
}

pre{
margin: .5em 0;
text-align: left;
line-height: 1em;
/*
width: 100%;
overflow: auto;
overflow-y: hidden;
padding-bottom: .5em;
*/
}

/*
* html>body pre{
overflow: visible;
}
*/

.caption code{
font-size: .9em;
}

code blockquote, pre blockquote, .foreign blockquote, blockquote code, blockquote pre, blockquote .foreign, code cite, pre cite, cite code, cite pre{
font-style: normal;
}

pre i, code i, i pre, i code{
font-style: normal;
font-weight: bold;
}

/* ========== QUOTE ========== */

blockquote{
font-style: italic;
margin-left: 72px;
margin-right: 72px;
line-height: normal;
}

.quote-source, .term-source{
color: #960;
text-transform: uppercase;
font-size: .8em;
text-decoration: none;
font-style: normal;
font-weight: normal;
}

.quote-source-before, .quote-source-after, .term-source-before, .term-source-after{
font-style: normal;
font-weight: normal;
}

/* ======== EXAMPLE ======== */

.example{
margin: 15px 72px;
padding: 10px;
border: 1px solid;
border-bottom-color: #000;
border-right-color: #000;
border-top-color: #aaa;
border-left-color: #aaa;
}

.example .para, .statement .para{
margin: 8px 0;
}

.definition .example, .rule .example{
margin: 5px 72px 5px;
padding: 5px 10px 0;
}

.definition .example .para, .rule .example .para{
margin: 8px 0;
}

.example.labview, .example.musical{
margin: 0;
text-align: center;
border: 0;
}

/* ======== EXERCISE ======== */

.exercise{
margin: 10px 0;
}

.problem{
padding: 5px 0;
}

.solution{
display: none;
padding: 5px 0;
margin-left: 36px;
}

.button-text{
display: block;
text-align: center;
cursor: pointer;
}

/* ======== CNXN, LINK, & CITE ======== */

cite{
font-style: italic;
}

.link{
color: #960;
}

.cnxn{
color: #600;
text-decoration: underline;
font-size: .8em;
text-transform: uppercase;
}

code .cnxn, pre .cnxn{
font-size: 1em;
text-transform: none;
}

.cnxn:hover, .cnxn:active{
text-decoration: none;
}

.bibtex-reference{
font-style: normal;
color: #369;
font-size: 11px;
font-weight: bold;
vertical-align: super;
}

/* ======= TERM & DEFINITION ======= */

.term a{
color: #960;
}

.term{
font-weight: bold;
font-style: normal;
display: inline;
}

.definition{
margin: 10px 0;
}

.meaning, .seealso{
margin: 5px 0 5px 36px;
padding: 2px 0;
}

.seealso{
margin: 2px 0 2px 72px;
}

.meaning-number{
font-size: 1em;
}

/* ======== EMPHASIS, IMPORTANT, FOREIGN ======== */

.term code i, code .term i, code i .term, .term i code, .term pre i, pre .term i, pre i .term, .term i pre{
text-decoration: underline;
}

cite i, cite .foreign, i cite, i .foreign, .foreign cite, .foreign i, blockquote cite, blockquote i, blockquote .foreign, blockquote cite i .foreign, blockquote cite .foreign i, blockquote i cite .foreign, blockquote i .foreign cite, blockquote .foreign i cite, blockquote .foreign cite i{
font-style: normal;
}

.foreign, cite i .foreign, cite .foreign i, i cite .foreign, i .foreign cite, .foreign cite i, .foreign i cite, blockquote cite i, blockquote cite .foreign, blockquote i cite, blockquote i .foreign, blockquote .foreign cite, blockquote .foreign i{
font-style: italic;
}

/* ========= EQUATION ========= */

.equation{
margin: 5px 0 10px;
position: relative;
}

* html .equation{
width: 100%;
}

.equation-number{
position: absolute;
top: 50%;
right: 0;
}

.equation .name{
display: block;
margin-bottom: 1em;
text-align: left;
}

/* ========== FIGURE ET AL. ========== */

table.figure{
margin: 15px auto;
}                  

table.figure td{
text-align: center;
}

.inner-figure{
border: 0 #333 solid;
border-top-width: 1px;
border-bottom-width: 1px;
padding: 10px 0;
}

table.figure .name{
display: block;
margin-bottom: 5px;
}

.caption{
color: #333;
font-size: .8em;   
padding-top: 5px;
text-align: left;
}

div.table .caption{
border-top: 1px solid #555;
margin: 0 25%;
}

.caption .cnxn{
font-size: .85em;
}

div.subfigure .caption{
text-align: center;
margin-bottom: 15px;
}

.caption-before{
font-weight: bold;
}

/* ========== TABLE ========== */

div.table{
margin: 10px 0;
}

div.table table, table.old-table{
border: 1px solid #666;
margin-top: 5px;
margin-bottom: 10px;
}

/*
td, th{
padding: 3px;
font-size: .9em;
}

@media ScReEn{
tr>td, tr>th{
font-size: 1em;
}
}
*/

div.table .name{
display: block;
text-align: center;
margin: 5px 0;
}

table.old-table td, table.old-table th{
text-align: left;
border: 1px solid #999;
}

/* ======== MATH ======== */

math, .equation math, math *, .equation math *{
color: #060;
}

semantics annotation-xml{
display: none;
}

math[display="block"], math[mode="display"]{ 
font-size: 120%;
}

/* ======== NOTE ======== */

.note-before{
color: #c00;
}

.note{
padding: 7px;
margin: 5px 72px 10px;
border: 1px solid;
border-bottom-color: #000;
border-right-color: #000;
border-top-color: #aaa;
border-left-color: #aaa;
}

.footnote-number{
font-size: 1em;
}

span.footnote-reference{
font-size: .85em;
vertical-align: .4em;
line-height: .1em;
}

.footnote-reference a{
font-size: 1em;
}

.footnote{
margin: .5em 0;
}

/* ========= RULE ========= */

.rule{
margin: 10px 0;
}

.statement{
margin: 10px 5px 5px 36px;
}

.proof{ 
margin: 5px 0 2px 36px;
}

/* ====== Glossary ===== */

#glossary{
margin: 15px 0;
border: 0 #c90 solid;
border-top-width: 1px;
padding: 15px 0;
}

.glossary-definition{
margin: 15px 0 15px 32px;
}

.glossary-definition .term, .glossary-definition .meaning, .glossary-definition .example, .glossary-definition .example-before, .glossary-definition .para, .glossary-definition .seealso{
display: inline;
margin: 0;
padding: 0;
border: 0;
}

.glossary-definition .term{
margin-left: -32px;
}

.glossary-definition * .term{
margin: 0;
}

@media all{* html .glossary-definition .example-before{
margin-left: .5em;
}}

html>body .glossary-definition .example-name{
margin-right: -.5em;
}

/* ====== BibteXML ===== */

#bibtexfile{
margin: 15px 0;
padding-top: 15px;
border: 0 #c90 solid;
border-top-width: 1px;
}

.bibtexentry{
padding-bottom: 3px;
}

/* ======= QML ======== */

.feedback{
font-weight: bold;
color: #060;
margin-left: 36px;
}

.hint, .feedback{
display: none;
margin-top: 10px;
}

.hint{
font-style: italic;
}

input.button{
border-width: 1px;
border-style: solid;
border-color: #000;
background-color: #c90;
display: block;
margin: 10px 0 0;
}
